.header {
    width: 100%;
    background-color: #ff5153;
    padding: 30px;
  }
  
  .header h1 {
    font-family: "Helvetica", sans-serif;
    text-transform: lowercase;
    text-align: center;
    color: white;
  }
  